# Folders with IDE`s settings
/.idea
/.vscode

# Composer
/tmp
/vendor

# phpunit
.phpunit.result.cache

# php-cs-fixer
.php-cs-fixer.cache

# PHPUnit coverage files
/storage/coverage

# OS X
.DS_Store
